{%extends 'base.html'%} {%block content%}
<div id="root" class="container">
    <h1>Home | XML2CSV</h1>
    {%with messages = get_flashed_messages()%} {%if messages%}
    <ul style="color:red">
        {%for msg in messages%}
        <li>{{msg}}</li>
        {%endfor%}
    </ul>
    {%endif%} {%endwith%}
    <form name="uploadForm" action="" method="POST" enctype="multipart/form-data" novalidate>
        <h5><b>File Type: </b></h5>
        <label><b>XML</b><input type="radio" name="ftype" value="XML"></label>
        <label><b>XSD</b><input type="radio" name="ftype" value="XSD"></label>
        <br>
        <br>
        <label><b>Destination Text-Seperator:   </b><input type="text" name="filesep" id="filesep" maxlength="1" minlength="1" size="1"></label>
        <br>
        <br>
        <input type="file" name="filename" id="fileid">
        <br>
        <br>
        <button type="submit">Proceed</button>
    </form>
</div>
{%endblock%}