{%extends 'base.html'%} {%block content%}
<div id="root" class="container">
    {%with messages = get_flashed_messages()%} {%if messages%}
    <ul style="color:red">
        {%for msg in messages%}
        <li>{{msg}}</li>
        {%endfor%}
    </ul>
    {%endif%} {%endwith%}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{form.username.label}}
            <br> {{form.username(size=32)}} {%for error in form.username.errors%}
            <span style="color:red">[{{error}}]</span> {%endfor%}
        </p>
        <p>
            {{form.password.label}}
            <br> {{form.password(size=32)}} {%for error in form.password.errors%}
            <span style="color:red">[{{error}}]</span> {%endfor%}
        </p>
        <p>{{form.remember_me()}} {{form.remember_me.label}}</p>
        <div style="text-align: center;">
            <button class="mybtn">Login</button>
        </div>
    </form>
</div>
{%endblock%}